@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Montserrat:wght@300&family=Poppins:wght@200;500&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

.admin-name{
    display: flex;
    justify-content: space-between;
}

.admin-name h3{
    text-align: end;
    font-size: 20px;
    padding:10px 40px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color:white;
    background-color: rgb(173, 24, 76) ;
    border: 2px solid ;

}
.admin-name a{
    font-size: 16px;
    text-decoration: none;
    padding: 8px 20px;
    /* padding:8px 20px; */
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    color:rgb(173, 24, 76) ;
    /* border: 2px solid rgb(173, 24, 76)  ; */
}
.hero{
margin-top: 3%;
display: flex;
}
.category{
    width: 18%;
    margin-left: 2%;
    /* border-right: 2px solid rgb(173, 24, 76); */
    height: 300px;
}
.category h3{
    /* margin-left: 6%; */
    text-align: center;

}
#category-btn{
    margin-top: 4%;
    width: 100%;
    color: rgb(173, 24, 76);
    border: 1.5px solid rgb(173, 24, 76);
    border-radius: 5px;
    background-color: white;
}
.category-table{
    margin-top: 7%;
    margin-left: 10px;
}
.category-table tr{
    margin-top: 10px;
}
.tab-btns button{
    margin-left: 15px;
    background-color: rgb(173, 24, 76);
    border: none;
    color: white;
    padding: 5px 10px;
}
.products{
    width: 18%;
    margin-left:4%;
}
.products h3{
    text-align: center;
}


#about-inp{
    height: 150px;
}